<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zgf.springcloud.mapper.primary.AccountDao">

    <select id="getAccountById" parameterType="java.lang.Long"
            resultType="com.zgf.springcloud.domain.primary.AccountDO">
        SELECT * FROM t_account WHERE id = #{id}
    </select>

    <insert id="insert">
        insert into t_account (user_id,total,used,residue) values (#{userId},#{total},#{used},#{residue})
    </insert>

    <update id="updateById">
        update t_account set total = #{total},used = #{used},residue = #{residue} where id = #{id}
    </update>

    <resultMap id="queryByGroupVO" type="com.zgf.springcloud.domain.GroupByVo">
        <id property="userId" column="user_id"></id>
        <collection property="subVo" ofType="com.zgf.springcloud.domain.SubVo">
            <result property="id" column="id"></result>
            <collection property="subSubVos" ofType="com.zgf.springcloud.domain.SubSubVo">
                <result property="total" column="total"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="queryByGroup" resultMap="queryByGroupVO">
       SELECT
        user_id,
        id,
        total
      FROM
	    t_account
      GROUP BY
        user_id,
        id,
        total;
    </select>

</mapper>